@charset "UTF-8";

.orderDetail_table th{
        border-top:2px solid #d4a5a5;
        height:40px;
        text-align: center;
    }
    .orderDetail_table{
        border-top:1px solid #d4a5a5;
        border-bottom:1px solid #d4a5a5;
    }
    .orderDetail_table td{
        height:100px;
        text-align: center;
    }
    .complete_title{
        border-top:3px solid #d4a5a5;
        text-align: center;
    }
    .deli_title{
        margin-top:40px;
    }
    #basic_info{
        border-top:1px solid #d4a5a5;
        border-bottom:1px solid #d4a5a5;
        padding:10px 0px 10px 0px;
    }
    .deli_table{
        border-bottom:1px solid #d4a5a5;
        margin-top:10px;
        padding-bottom: 10px;
    }
    .myinfo_body tr, .deli_table tr{
        height:40px;
        text-align: center;
    }
    .myinfo_body th{
        text-align: center;
    }
    .myinfo_body td{
        width:800px;
    }

    .btn_box{
        height: 100px;
        text-align: center;
        margin-top:30px;
    }
    .close_btn{
        background-color: rgb(238, 222, 222);
        color:#484848;
        border:1px solid #bdbdbd;
        width:150px;
        height:50px;
        border-radius: 5px;
    }