@charset "UTF-8";

/*       item title   부분       */
    .item_title{
    margin:50px 20px 50px 20px;
    text-align: center;
    background-color: #f5e7e7;
    padding:90px 0px;
    background-image: url("item_banner.jpg");
    background-size:100%;
    background-position: 30% 50%;
    opacity: 0.7;
    font-weight: bold;
    }
    .title_box{
        background-color: #ffffff;
        width:280px;
        margin:auto;
        opacity: 0.8;
        padding:10px 10px;
        border-radius: 5px;
    }
    .item_title h5{
        font-size: 17px;
    }


    /*       new update box        */
    .new_item_bar{
        height: 130px;
        line-height: 130px;
        margin-top:100px;
        background-color: #eedaf1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .new_item_bar h3{
        color:#b093bd;
        font-weight: bold;
    }
    /*         new_item info부분           */
    .new_item_sec01{
        /* border:5px solid green; */
        display: flex;
        width: 100%; 
        margin: auto; 
        display: flex;
        flex-direction: column; 
        text-align: center;   
    }
    .new_item_sec02{
        /* border:5px solid green; */
        display: flex;
        width: 100%; 
        margin: auto; 
        display: flex;
        flex-direction: column; 
        text-align: center;   
    }


    .new_contents {
        display: flex; 
        flex-flow: row wrap; 
        margin: 30px 10px 30px 10px;    
        justify-content: space-around;
    }
    .new_content {
        width: 100%; 
        height: 100%; 
        padding: 0 00px 37.5px 00px;  
        border: 1px solid rgba(148, 146, 146, 0.5);
        margin:0px 5px;
        flex: 1 22%;
        max-width: 350px;
        max-height: 480px; 
        margin-bottom: 30px;
    }
    .new_content img {
        height: 80%;
        width:80%;
    }
    .new_content h3 {
        font-size: 18px; font-weight: bold;
        text-align: start; margin: 10px 15px 15px 15px;
        padding-left: 15px;
    }
    .new_content h5 {
        border-top:1px solid rgba(148, 146, 146, 0.5);
        font-size: 15px;
        font-weight: bold;
        text-align: start;
        margin: 5px 15px 10px 15px;
        padding:10px 15px;
        padding-left: 15px;
    }
    .item_info {
        height: 100px;
        line-height: 100px;
        padding-top: 10px;
    }

    /*      transition 효과       */
    .new_content:hover .new_img  {
        opacity: 0.6; transform: scale(1.1); 
    }
    .new_content:hover h3 {
        color: #002a62; 
    }
    .new_wrap {
        background-color: rgb(255, 255, 255); overflow: hidden;
    }
    .new_img {
        display: block;
        -webkit-transition: 0.5s ease;
        transition: 0.5s ease; 
    }

    /*     page 넘기기 부분      */
    .page_number{ 
        display: flex; 
        justify-content: center; 
        color: grey;
        margin-top:50px;
    }
    .page-link{
        color:#484848;
        padding:10px 13px;
        border:none;
        font-size: 20px;
    }